.notes{
   display:flex;
   flex-wrap: wrap;
}

.note{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left:10px;
    margin:10px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-wrap: wrap;
}

.note img{
    width: 90%;
    height: 200px;
}

.note .note-img-container{
    display: flex;
    justify-content: center;
    width:100%;
}

/* BUTTONS */

.note-btns{
    visibility: hidden;
}

.note:hover .note-btns{
    visibility: visible;
}

.remove-note-btn{
    align-self: flex-start;
    background-color: transparent;
    border:0;
    margin-bottom:10px
}

.remove-note-btn:hover{
cursor: pointer;
}

.edit-note-btn{
    align-self: flex-start;
    background-color: transparent;
    border:0;
    margin-bottom:10px
}

.edit-note-btn:hover{
    cursor: pointer;
    }

.pin-note-btn{
    align-self: flex-start;
    background-color: transparent;
    border:0;
    margin-bottom:10px
}

.pin-note-btn:hover{
    cursor: pointer;
    }