.notes {
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
  padding:0 10px;
}

.note {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 0 10px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}


.note-header {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.note img {
    width: 90%;
    height: 200px;
}

.note .note-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* BUTTONS */

.note-btns {
    transform: translateY(35px);
    align-self: flex-end;
    color: #007DFC;
}

.note-btns button {
    color: #121212;
    padding: 10px 0 0 15px;
}

.note-btns button:hover {
    background-color: transparent;
    transition: 0.3s;
    color: #007DFC;
}

.note:hover .note-btns {
    transform: translateY(-5px);
    transition: 0.3s;
}

.remove-note-btn {
    align-self: flex-start;
    background-color: transparent;
    border: 0;
}

.remove-note-btn:hover {
    cursor: pointer;
}

.edit-note-btn {
    align-self: flex-start;
    background-color: transparent;
    border: 0;
}

.edit-note-btn:hover {
    cursor: pointer;
}

.pin-note-btn {
    align-self: flex-start;
    background-color: transparent;
    border: 0;
}

.pin-note-btn:hover {
    cursor: pointer;
}

.todo-note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.todo {
    display: flex;
    justify-content: space-between;
}

.remove-todo {
    width: 20px;
    height: 20px;
    padding: 0;
}