.note-editor-bg {
    min-height: 100vh;
    width: 100%;
    background-color:#000000e6;;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
}

.note.edit-mode {
    min-height: 300px;
    max-width: 400px;
    box-shadow: 0 0 0;
    margin: 20px 10px;
}

@media screen and (max-width: 440px) {
    .note.edit-mode {
        width: 90%;
    }
}

.editor-form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.editor-form textarea {
    width: 90%;
    border: 0;
    border-radius: 5px;
    padding: 10px 10px;
}

.editor-form button {
    padding: 0;
    background-color: transparent;
    color: #007DFC;
}

.editor-form button:hover {
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(70%);
}


.editor-form .submit-button{
    background-color: #007DFC;
    color:#ffffff;
    padding:10px;
    border-radius:5px;
    width:fit-content;
    font-size:1.2rem
}

.editor-form .submit-button:hover{
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(70%);
}

.image-title {
    width: 200px;
    height: 34px;
    border: 0;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f1f1f1;
}

.add-todo-input {
    width: 200px;
    height: 34px;
    border: 0;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    background-color: #f1f1f1;
}

.add-todo-input button {
    padding-top: 2px;
    color: #121212;
}

.add-todo-label {
    width: 200px;
    height: 34px;
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    background-color: #f1f1f1;
}

.add-todo-input input {
    border: 0;
    background-color: transparent;
    flex-grow: 1;
}

.editor-btns button, .editor-form label {
    color: #007DFC;
    font-size: 2rem;
    margin: 20px;    
}

.color-pallete:hover, .image-upload:hover {
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(70%);
}

.image-upload {
    margin-left: 20px;
}
