.email-filter {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 2;
}

@media (max-width: 550px) {
    .email-filter {
        display: none;
        top: 150px;
        border-right: 2px solid #121212;
        width: 51%;
        background-color: #121212;
        width: 50%;
        height: 96px;
        top: 437px;
        right: 0px;
        align-items: center;
        border-left: 2px solid rgb(149 149 149 / 24%);
        height: auto;
        padding: 15px;
    }
}

.email-search-input {
    display: flex;
    background-color: #2a2a2a;
    justify-content: space-between;
    color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px #121212;
    width: 250px;
    cursor: auto;
    overflow: hidden;
}

@media (max-width:780px) {
    .email-search-input {
        width: 150px;
    }
}

@media (max-width:550px) {
    .email-search-input {
        width: 250px;
    }
}

.email-search-input input::placeholder {
    color: #989898
}

.email-search-input input {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border: 0;
}

.email-search-input .fas {
    cursor: auto;
    transform: translateY(22px)
}

.email-search-input input:focus~.fas, .email-search-input input:hover~.fas {
    transform: translateY(0);
    transition: 0.3s;
}