.email-list {
    display: flex;
    justify-content: space-between;
}

.side-filter {
    color: #f1f1f1;
    background-color: #121212;
    position: fixed;
    padding-top: 15px;
    padding-right: 15px;
    width: 170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid rgb(149 149 149 / 24%);
    border-bottom: 2px solid rgb(149 149 149 / 24%);
}

@media (max-width:780px) {
    .side-filter {
        width: 100%;
        height: auto;
        top: 70px;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
    }
}

.hamburger {
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #121212;
    height: auto;
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 1;
    color: #ff9a18;
    padding: 10px 50px 0 0;
    font-size: 25px;
}

.hamburger:hover {
    color: #F0AF66;
}

@media (max-width:550px) {
    .hamburger {
        display: flex;
    }
}

.side-filter .filter-item {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

.side-filter .filter-item:hover {
    transition: all 0.3s;
    background-color: #5c5c5c38;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-compose {
    color: #007DFC;
    margin: 15px 0;
    font-size: 25px;
}

.btn-compose:hover {
    color: #036eda;
}

.email-previews-container {
    min-height: 100vh;
    width: 100%;
    padding: 10px 10px 0 180px;
}

@media (max-width:780px) {
    .email-previews-container {
        padding: 10px 10px 0 10px;
        margin-top: 95px;
    }
}

@media (max-width:550px) {
    .email-previews-container {
        padding: 0;
        margin-top: 10px;
    }
    .side-filter {
        width: 50%;
        display: none;
        flex-wrap: wrap;
    }
}