.email-compose {
    color: #f1f1f1;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 999;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (max-width:550px) {
    .email-compose {
        width: 100%;
        border-radius: 0;
    }
}

.email-compose .form-header {
    padding: 15px;
    background-color: #2a2a2a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width:550px) {
    .email-compose .form-header {
        border-radius: 0;
    }
}

.email-compose .form-header .close-modal {
    cursor: pointer;
}

.email-compose .form-inputs-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.email-compose .form-inputs-container input, .email-compose .form-inputs-container textarea {
    border: 0;
    border-bottom: 1px solid grey
}

.email-compose form input:not([type='file']) {
    height: 50px;
    padding: 15px;
    width: 100%;
}

.email-compose .input-subject {
    font-weight: 700;
}

.email-compose .btn-image-upload {
    font-size: 30px;
    color: #272727
}

.email-compose .btn-image-upload:hover {
    color: #036eda;
}

.email-compose form textarea {
    height: 300px;
    width: 100%;
    padding: 15px;
}

.email-compose .form-btn-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
}

.email-compose .btn-send-email {
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 20px;
}