.email-list {
    display: flex;
    justify-content: space-between;
}

.side-filter {
    color: #f1f1f1;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.side-filter .filter-item {
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.side-filter .filter-item:hover {
    background-color: #fff;
    background-color: #5c5c5c38;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-compose {
    margin: 50px 15px;
}

.email-previews-container {
    height: 100vh;
    overflow: overlay;
    width: 80%;
}