.about{
    margin-top:20px;
    height:600px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/books-bg.jpg");
    padding: 20px 0;
    color:#14213D;
}

.about h1{
font-size: 3rem;
align-self: center;
}

.about .info{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img{
    width:400px;
    height:400px;
    border-radius: 50%;
}

.about p{
    width:50%;
    margin-left: 50px;
}

