.book-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  color: #ffffff;
}

.book-details-list {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.book-details img {
  width: 250px;
  
}

.book-details-image {
  position: relative;
  margin-right:30px;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0; 
  height: 0; 
  border-left: 125px solid transparent;
  border-top: 150px solid red;
}

.on-sale{
    position:absolute;
    top:0;
    right:10px;
    text-align: center;
    font-size:0.8rem;
}

.decription-area {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

.red {
  color: red;
}

.green {
  color: green;
}

.read-more {
  cursor: pointer;
  font-size: 1.2rem;
  color: grey;
}

.back-button {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
  width: 100px;
}

.review-add {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.review-add input {
  background-color: #2a2a2ad8;
  padding: 5px 10px 10px;
  margin-bottom: 10px;
  border: 0;
  color: #f1f1f1;
  border-radius: 5px;
  width: 250px;
}

.rating{
    background-color: #2a2a2ad8;
    padding: 5px 10px 10px;
    margin-bottom: 10px;
    border: 0;
    color: #f1f1f1;
    border-radius: 5px;
}

.review-add textarea {
  background-color: #2a2a2ad8;
  padding: 5px 10px 10px;
  border: 0;
  color: #f1f1f1;
  border-radius: 5px;
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.review{
    overflow: hidden;
}

.delete-button{
    transform: translateY(-47px);
}

.review:hover .delete-button{
    transform: translateY(0);
    transition: 0.3s;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  
  .rate:not(:checked)>input {
    display: none;
  }
  
  .rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  
  .rate:not(:checked)>label:before {
    content: '★ ';
  }
  
  .rate>input:checked~label {
    color: #ffc700;
  }
  
  .rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #deb217;
  }
  
  .rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
  }

.prev-next {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
