.book-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  color: #ffffff;
}

.book-details-list {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.book-details img {
  width: 250px;
}

.book-details-image {
  position: relative;
}

.on-sale {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  background-color: green;
}

.decription-area {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}

.red {
  color: red;
}

.green {
  color: green;
}

.read-more {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}

.back-button {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
  width: 100px;
}

.review-add {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.review-add input {
  background-color: #2a2a2ad8;
  padding: 5px 10px 10px;
  margin-bottom: 10px;
  border: 0;
  color: #f1f1f1;
  border-radius: 5px;
  width: 250px;
}

.review-add textarea {
  background-color: #2a2a2ad8;
  padding: 5px 10px 10px;
  border: 0;
  color: #f1f1f1;
  border-radius: 5px;
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.review button{
visibility: hidden;
transform: translateY();
}

.prev-next {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
