.homepage{
    height:600px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/books-bg.jpg");
    color: #14213D;
    justify-content: center;
    align-items: center;
}

.homepage h1{
    font-size: 4rem;
}

.homepage .buttons{
    margin: 20px 0 0;
    width:50%;
    display: flex;
    justify-content: space-around;
}

.homepage .buttons button{
    width:120px;
    height:60px;
    border: 3px solid #14213D;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #14213D;
    background-color: #E5E5E5;
    cursor: pointer;
}

.search-books{
padding-top: 20px;
}