@import './header.css';
@import './homepage.css';
@import './about.css';
@import './details.css';
@import './filter.css';


.container{
  margin-left: 50px;
  margin-right:50px;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-preview {
  display: flex;
  flex-direction: column;
  padding:20px 20px 0 0;
  width:200px;
  height:100%;
}

.book-preview:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hidden{
  display:none;
}

.list-image{
  
  width:100%;
}

.search-add-button{
  width:20px;
  height:20px;
  border-radius: 50%;
  font-size:1rem;
  padding: 0px;
}