.home {
    padding: 120px 20px 0 20px;
    color: #f1f1f1;
    background: #111111;
    min-height: 100vh;
}

.vid-wrapper {
    display: flex;
}

.vid-wrapper video {
    margin: auto;
}

.home-links {
    display: flex;
    justify-content: space-evenly;
}