@import '../../pages/MissEmail/assets/css/miss-email.css';
@import '../../pages/MissKeep/assets/css/miss-keep.css';
@import '../../pages/MissBooks/assets/css/miss-books.css';
/* BASE */

body {
  margin: 0;
}

main {
  min-height: 100vh;
}

/* helpers */

.mb-25 {
  margin-bottom: 25px;
}