@import '../../pages/MissEmail/assets/css/miss-email.css';
@import '../../pages/MissKeep/assets/css/miss-keep.css';
@import '../../pages/MissBooks/assets/css/miss-books.css';
@import './about.css';
@import './home.css';

/* BASE */

@font-face {
  font-family: headers;
  src: url(../font/Mukta-Regular.ttf);
}

@font-face {
  font-family: all-site;
  src: url(../font/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: all-site;
  margin: 0;
}

main {
  min-height: 100vh;
}

button {
  cursor: pointer;
  padding: 15px;
  color: #f1f1f1;
  background-color: #007DFC;
  border: 0;
  border-radius: 1px;
}

button:hover {
  background-color: #036eda;
}

textarea {
  resize: none;
}

.fas {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  object-fit: contain;
}

h1 {
  font-size: 2em;
}

h1, h2, h3, h4 {
  font-family: headers;
}

option {
  color: #f1f1f1;
}

.btn-back {
  padding: 5px 10px;
  border-radius: 2px;
  width: 35px;
  height: 30px;
  ;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #a8a8a836;
}

.appsus-logo {
  width: 70px;
  cursor: pointer;
  margin-left: 30px;
}

/* navbar */

.fa-th-list {
  font-size: 40px;
  color: #007DFC;
}

.fa-th-list:hover {
  color: #036eda;
}

.navbar-section {
  background-color: #121212;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 15px;
  border-bottom: 2px solid rgb(149 149 149 / 24%);
  display: flex;
  align-items: center;
}

.nav-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #262626;
  left: 5px;
  top: 90px;
  border-radius: 10px;
  padding: 15px;
  color: rgb(149, 149, 149);
  flex-wrap: wrap;
  width: 200px;
  animation: tilt-in-fwd-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav-container a {
  transition: all .3s;
  font-size: 25px;
  padding: 25px;
  border-radius: 10px;
}

.nav-container a:hover:not(.not-aviable) {
  background-color: rgba(88, 88, 88, 0.315);
}

.nav-container a.not-aviable, .nav-container i.not-aviable {
  color: #343434;
  cursor: no-drop;
  background-color: none;
}

.nav-container a.active {
  display: none;
}

.curr-page {
  color: #f1f1f1;
  margin-left: 50px;
  font-size: 40px;
  cursor: default;
}

.curr-page span {
  color: #007DFC;
}

.fa-clipboard, .fa-book, .fa-mail-bulk {
  background: linear-gradient(349deg, rgb(255 255 255 / 88%) 14%, rgb(26 115 255) 64%);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* helpers */

.show {
  display: flex;
}

.hide {
  display: none;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-10 {
  margin-bottom: 10px;
}

/* ANIMATIONS */

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

/* NOTIFICATIONS */

.notification-box{
  position:fixed;
  top:100px;
  right:0;
  border-radius:5px;
  background-color: #007DFC;
  color:#f1f1f1;
  z-index: 1;
  font-size:1rem;
}

.notification-box h3{
  padding:0 10px 10px;
}
