@import '../../pages/MissEmail/assets/css/miss-email.css';
@import '../../pages/MissKeep/assets/css/miss-keep.css';
@import '../../pages/MissBooks/assets/css/miss-books.css';
/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.fas {
  cursor: pointer;
}

/* navbar */

.nav-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rebeccapurple;
  left: 15px;
  width: 300px;
  height: 150px;
}

/* helpers */

.mb-25 {
  margin-bottom: 25px;
}

.mb-10 {
  margin-bottom: 10px;
}